@import "../../../Assets/Styles/variables.scss";

.recommendations {
  width: 70vw;
  margin: auto;

  &-container {
    width: 100%;
    padding: 5rem 0;
    background: $secondary-color;
    background-image: url("../../../Assets/Images/recommendation-frame.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 80%;
  }

  h1 {
    font-size: 1.75rem;
  }

  .title {
    display: block;

    * {
      color: white !important;
    }
  }

  form {
    margin: 3rem 0;
    display: flex;
    gap: 1.5rem;

    * {
      color: $header-color;
      font-weight: bold;
    }

    select {
      padding: 1rem 1.5rem;
      padding-right: 3rem;
      border-radius: 2rem;
      border-right: 1rem solid transparent;
    }

    button {
      cursor: pointer;
      color: white;
      border: none;
      padding: 1rem 3rem;
      border-radius: 8px;
      transition: background 300ms;
      background: $primary-color;

      &:hover {
        color: $primary-color;
        outline: 1px solid $primary-color;
        background: $bg-secondary-color;
      }
    }
  }
}
