@import "../../../Assets/Styles/variables.scss";

.popular-courses {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;

  .categories {
    display: flex;
  }

  ul {
    padding: 0;
    list-style: none;

    li a {
      color: $text-color;
      padding: 0.8rem 1.25rem;
      border-radius: 2rem;
      text-transform: capitalize;
      background: transparent;
      transition: background 500ms;

      &.active {
        background: transparentize($color: $primary-color, $amount: 0.7);
        color: $primary-color;
      }
    }
  }
}
  
.courses {
  margin-top: 2rem;

  button {
    display: none;
  }

  .list {
    display: flex;
    gap: 1.5rem;
    overflow: auto;

    &>div {
      flex-shrink: 0;
    }
  }
}