@import "../../../Assets/Styles/variables.scss";

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.header {
    justify-content: space-around;
}

.logo {
    gap: 0.7rem;
    padding-right: 1.5rem;
}

.links {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        text-decoration: none;
    }
}

.explore {
    &__icon {
        flex-direction: column;
        height: 60px;
        justify-content: space-around;
        overflow: hidden;
    
    }
}