@import "../../../Assets/Styles/variables.scss";

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.logo {
    gap: 0.7rem;
    padding-right: 1.5rem;
}

.explore {
    &__icon {
        flex-direction: column;
        justify-content: space-around;
    }
}