@import "../../Assets/Styles/variables.scss";

main {
  width: 70%;
  margin: auto;
}

.popular-courses {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .text {
    h1 {
      text-transform: capitalize;
      color: $header-color;
    }

    p {
      color: $text-color;
    }
  }

  .categories {
    display: flex;
  }

  ul {
    padding: 0;
    list-style: none;

    li a {
      color: $text-color;
      padding: 0.8rem 1.25rem;
      border-radius: 2rem;

      &.active {
        background: transparentize($color: $primary-color, $amount: 0.7);
      }
    }
  }
}

.courses {
  display: none;
}