$text-color: #4F547B;
$header-color: #140342;
$primary-color: #6440FB;
$secondary-color: #1A064F;
$border-primary-color: #EDEDED;
$bg-tertiary-color: #F5F7FE;
$bg-quaternary-color: #E8543E;
$bg-six-color: #00FF84;

$radius: 60px;
