@import "../../Assets/Styles/variables.scss";

.news-card {
  width: 300px;

  h1 {
    color: #242239;
    font-size: 1.25rem;
  }

  .image {
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .category {
    color: $primary-color;
    text-transform: uppercase;
    margin: 1rem 0;
  }

  .date {
    color: $text-color;
    font-size: 0.75rem;
  }
}