@import "../../../Assets/Styles/variables.scss";

.news-n-events {
  width: 100%;
  margin-bottom: 5rem;

  .list {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    .news {
      min-width: 620px;
      display: flex;
      gap: 1rem;
      justify-content: center;
    }

    .min {
      max-height: 430px;
      overflow: auto;
      padding-right: 1rem;

      &>div {
        margin-bottom: 1rem;
      }
    }
  }

  .title {
    display: block;

    * {
      text-align: center;
    }

    p {
      margin: 0;
    }
  }
}
